.data__button {
  margin-top: 216px;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  background-color: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  transition: opacity 0.3s ease;
}

.data__button:hover {
  opacity: 0.8;
}
