.cards__trash {
  background-image: url(../../../image/Trash.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  border: none;
}

.cards__trash:hover {
  opacity: 0.5;
}
