.profile__button-add {
  align-self: center;
  background-image: url(../../../image/Plus.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  background-position: center;
  border: 2px solid #ffffff;
  padding: 0;
  transition: opacity 0.3s ease;
}

.profile__button-add:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .profile__button-add {
    width: 120px;
    height: 41px;
  }
}

@media screen and (max-width: 900px) {
  .profile__button-add {
    width: 282px;
    height: 50px;
    margin-top: 36px;
  }
}
