.profile__button-create {
  background-image: url(../../../image/Create_btn.svg);
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: transparent;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center;
  padding: 0;
  transition: opacity 0.3s ease;
}

.profile__button-create:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .profile__button-create {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 520px) {
  .profile__button-create {
    width: 18px;
    height: 18px;
  }
}
