.profile__avatar {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  background-size: cover;
}

.profile__avatar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../../image/Avatar_edit.png);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
    opacity: 0;
    transition: opacity ease 0.3s;
}

.profile__avatar:hover::before {
  opacity: 0.8;
}
