.cards__like {
  background-image: url(../../../image/Group__like.svg);
  background-color: transparent;
  width: 23px;
  height: 19px;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  border: none;
}

.cards__like:hover {
  opacity: 0.5;
}
